@import "../../index";


.score {
  position: relative;
  height: 100px;
  width: 195px;
}

@mixin score-character($font-size: 3em, $top: 15px) {
  display: inline-block;

  position: absolute;
  top: $top;

  font-size: $font-size;
  font-weight: bold;

  color: $primary-color;

  margin: auto 10px;
}

.score-current {
  @include score-character();
  left: 10px;
}

.score-desired {
  @include score-character();
  right: 10px;
}

.score-slash {
  @include score-character($font-size: 5em, $top: 0);
  left: 75px;
}