@import "../row/row";
@import "../../index";

$cell_side: $row_height;

@mixin cell($background_color, $fade: true) {
  height: $cell_side;
  width: $cell_side;

  display: inline-block;
  border: 1px solid black;
  border-radius: $border_radius;
  background-color: $background_color;

  @if $fade == true {
    transition: background-color .3s ease-in;
  }
}

.item-cell {
  @include cell(green);
}

.void-cell {
  @include cell(light-gray);
}

.snake-cell {
  @include cell($primary-color, false);
}

.wall-cell {
  @include cell(black);
}

.collision-cell {
  @include cell(red);
}
