#sidebar { 
  position: absolute;
  width: 500px;
  height: auto;
  margin-top: 125px;
  margin-left: 50px;
  float: left;
  font: bold 50 consolas;
  text-align: left;
  color: lightGray;
}

#score { 
  font: 40 consolas;
  text-align: left;
}

#content {
  width: 500px;
  height: 500px;
}

body {
  background: black;
}

.center {
  top:50%;
  left:50%;
}

.board {
  position: absolute;
  background: lightgray;
  z-index: -1;
}

.col {
  display: inline-block;
  float: left;
  /*border: 1px solid black;*/
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}

.col.apple {
    background: green;
}

.col.wall {
    background: black;
}

.col.head {
  background: red;
}

.col.seg {
  background: chocolate;
}

.endmsg {
  text-align: center;
  color: red;
  font-size: 15em;
  margin: auto;
  top:30%;
  left:30%;
}