.board {
  position: absolute;
  top:30;
  left:25%;
}

.row {
  display: block;
}

.col {
  display: inline-block;
  float: left;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20pt;
}

.head {
  background: gray;
  display: inline-block;
  float: left;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20pt;
}

.apple {
  background: green;
  display: inline-block;
  float: left;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20pt;
}

.segment {
  background: black;
  display: inline-block;
  float: left;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20pt;
}

.wall {
  background: blue;
  display: inline-block;
  float: left;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20pt;
}

.endmsg {
 /* position: absolute;*/
  text-align: center;
  color: red;
  font-size: 15em;
  margin: auto;
  top:30%;
  left:30%;
}