body {
  background: black;
}

.center {
  top:50%;
  left:50%;
}

.board {
  position: absolute;
  background: lightgray;
  z-index: -1;
}

.col {
  display: inline-block;
  float: left;
  /*border: 1px solid black;*/
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.col.apple {
    background: green;
}

.col.wall {
    background: black;
}

.col.head {
  background: red;
}

.col.seg {
  background: chocolate;
}

.endmsg {
  /*position: relative;*/
/*  z-index: -1;*/
  text-align: center;
  color: red;
  font-size: 15em;
  margin: auto;
  top:30%;
  left:30%;
}