@import "../row/row";

$cell_side: $row_height;

[class*="-cell"] {
  transition: background-color .1s ease-in;
}

@mixin cell($background_color) {
  height: $cell_side;
  width: $cell_side;

  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  background-color: $background_color;
}

.item-cell {
  @include cell(green);
}

.void-cell {
  @include cell(light-gray);
}

.snake-cell {
  @include cell(orange);
}

.wall-cell {
  @include cell(black);
}

.collision-cell {
  @include cell(red);
}