@import "../row/row";

$cell_side: $row_height;

@mixin cell($background_color) {
  height: $cell_side;
  width: $cell_side;

  display: inline-block;
  border: 1px solid black;
  background-color: $background_color;
}

.item-cell {
  @include cell(green);
}

.void-cell {
  @include cell(light-gray);
}

.snake-cell {
  @include cell(orange);
}

.wall-cell {
  @include cell(black);
}

.collision-cell {
  @include cell(red);
}