body {
  font: 100% Helvetica, sans-serif;
  color: orange;
  background-color: black;
  width: 900px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px; }

#title {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 15px;
  margin-left: 20px; }

.sidebar {
  text-align: left;
  float: right;
  width: 200px;
  height: 630px;
  position: relative; }
  .sidebar .scoreboard-container {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 20px; }
  .sidebar .controls {
    position: absolute;
    width: 200px;
    height: 375px;
    top: 130px; }
    .sidebar .controls .controls-container {
      position: relative;
      width: 200px; }
      .sidebar .controls .controls-container > div {
        position: absolute; }
      .sidebar .controls .controls-container .controls-key-label.r-key {
        font-size: 1.5em;
        font-weight: bold;
        top: 10px;
        left: 75px;
        position: absolute; }
      .sidebar .controls .controls-container > #restart-key-container {
        top: 60px;
        left: 10px; }
      .sidebar .controls .controls-container > #arrow-keys-container {
        top: 160px; }
  .sidebar .blurb {
    position: absolute;
    bottom: 10px;
    font-size: 16px; }
    .sidebar .blurb a {
      color: lightblue;
      font-weight: 700; }
    .sidebar .blurb p {
      margin-top: 0;
      margin-bottom: 20px; }

#mamba {
  position: relative;
  width: 100%;
  height: 100%; }

.fading-in-enter, .fading-in-appear {
  opacity: 0.01; }

.fading-in-appear, .fading-in-enter.fading-in-enter-active {
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -ms-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in; }

.fading-in-appear.fading-in-appear-active, .fading-in-enter.fading-in-enter-active {
  opacity: 1; }

.grid {
  width: 660px;
  background-color: black;
  float: left;
  clear: right; }

.row {
  height: 20px;
  width: 100%;
  border-radius: 5px;
  background-color: grey; }

body {
  font: 100% Helvetica, sans-serif;
  color: orange;
  background-color: black;
  width: 900px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px; }

#title {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 15px;
  margin-left: 20px; }

.sidebar {
  text-align: left;
  float: right;
  width: 200px;
  height: 630px;
  position: relative; }
  .sidebar .scoreboard-container {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 20px; }
  .sidebar .controls {
    position: absolute;
    width: 200px;
    height: 375px;
    top: 130px; }
    .sidebar .controls .controls-container {
      position: relative;
      width: 200px; }
      .sidebar .controls .controls-container > div {
        position: absolute; }
      .sidebar .controls .controls-container .controls-key-label.r-key {
        font-size: 1.5em;
        font-weight: bold;
        top: 10px;
        left: 75px;
        position: absolute; }
      .sidebar .controls .controls-container > #restart-key-container {
        top: 60px;
        left: 10px; }
      .sidebar .controls .controls-container > #arrow-keys-container {
        top: 160px; }
  .sidebar .blurb {
    position: absolute;
    bottom: 10px;
    font-size: 16px; }
    .sidebar .blurb a {
      color: lightblue;
      font-weight: 700; }
    .sidebar .blurb p {
      margin-top: 0;
      margin-bottom: 20px; }

#mamba {
  position: relative;
  width: 100%;
  height: 100%; }

.item-cell {
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  background-color: green;
  transition: background-color 0.3s ease-in; }

.void-cell {
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  background-color: light-gray;
  transition: background-color 0.3s ease-in; }

.snake-cell {
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  background-color: orange; }

.wall-cell {
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  transition: background-color 0.3s ease-in; }

.collision-cell {
  height: 20px;
  width: 20px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  background-color: red;
  transition: background-color 0.3s ease-in; }

.grid {
  width: 660px;
  background-color: black;
  float: left;
  clear: right; }

body {
  font: 100% Helvetica, sans-serif;
  color: orange;
  background-color: black;
  width: 900px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px; }

#title {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 15px;
  margin-left: 20px; }

.sidebar {
  text-align: left;
  float: right;
  width: 200px;
  height: 630px;
  position: relative; }
  .sidebar .scoreboard-container {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 20px; }
  .sidebar .controls {
    position: absolute;
    width: 200px;
    height: 375px;
    top: 130px; }
    .sidebar .controls .controls-container {
      position: relative;
      width: 200px; }
      .sidebar .controls .controls-container > div {
        position: absolute; }
      .sidebar .controls .controls-container .controls-key-label.r-key {
        font-size: 1.5em;
        font-weight: bold;
        top: 10px;
        left: 75px;
        position: absolute; }
      .sidebar .controls .controls-container > #restart-key-container {
        top: 60px;
        left: 10px; }
      .sidebar .controls .controls-container > #arrow-keys-container {
        top: 160px; }
  .sidebar .blurb {
    position: absolute;
    bottom: 10px;
    font-size: 16px; }
    .sidebar .blurb a {
      color: lightblue;
      font-weight: 700; }
    .sidebar .blurb p {
      margin-top: 0;
      margin-bottom: 20px; }

#mamba {
  position: relative;
  width: 100%;
  height: 100%; }

.arrow-keys {
  position: relative;
  margin: 5px auto;
  width: 190px;
  height: 130px; }
  .arrow-keys .controls-key {
    position: absolute; }
  .arrow-keys .left-key {
    bottom: 0;
    left: 10px; }
  .arrow-keys .up-key {
    left: 70px;
    bottom: 60px; }
  .arrow-keys .down-key {
    bottom: 0;
    left: 70px; }
  .arrow-keys .right-key {
    bottom: 0;
    left: 130px; }

.controls-key {
  background-color: orange;
  color: black;
  display: table-cell;
  vertical-align: middle;
  font-size: 2.5em;
  font-weight: bold;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 5px darkgreen; }
  .controls-key.pressed {
    color: green;
    box-shadow: 0 3px darkgreen;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px); }

body {
  font: 100% Helvetica, sans-serif;
  color: orange;
  background-color: black;
  width: 900px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px; }

#title {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 15px;
  margin-left: 20px; }

.sidebar {
  text-align: left;
  float: right;
  width: 200px;
  height: 630px;
  position: relative; }
  .sidebar .scoreboard-container {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 20px; }
  .sidebar .controls {
    position: absolute;
    width: 200px;
    height: 375px;
    top: 130px; }
    .sidebar .controls .controls-container {
      position: relative;
      width: 200px; }
      .sidebar .controls .controls-container > div {
        position: absolute; }
      .sidebar .controls .controls-container .controls-key-label.r-key {
        font-size: 1.5em;
        font-weight: bold;
        top: 10px;
        left: 75px;
        position: absolute; }
      .sidebar .controls .controls-container > #restart-key-container {
        top: 60px;
        left: 10px; }
      .sidebar .controls .controls-container > #arrow-keys-container {
        top: 160px; }
  .sidebar .blurb {
    position: absolute;
    bottom: 10px;
    font-size: 16px; }
    .sidebar .blurb a {
      color: lightblue;
      font-weight: 700; }
    .sidebar .blurb p {
      margin-top: 0;
      margin-bottom: 20px; }

#mamba {
  position: relative;
  width: 100%;
  height: 100%; }

.score {
  position: relative;
  height: 100px;
  width: 195px; }

.score-current {
  display: inline-block;
  position: absolute;
  top: 15px;
  font-size: 4.5em;
  font-weight: bold;
  color: orange;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -ms-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
  left: 0;
  margin: auto 0; }
  .score-current.scored {
    color: green; }

.score-desired {
  display: inline-block;
  position: absolute;
  top: 15px;
  font-size: 4.5em;
  font-weight: bold;
  color: orange;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -ms-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
  right: 0;
  margin: auto 0; }
  .score-desired.scored {
    color: green; }

.score-slash {
  display: inline-block;
  position: absolute;
  top: 10px;
  font-size: 5em;
  font-weight: bold;
  color: orange;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -ms-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
  left: 75px;
  margin: auto 12px; }
  .score-slash.scored {
    color: green; }

.grid {
  width: 660px;
  background-color: black;
  float: left;
  clear: right; }

.row {
  height: 20px;
  width: 100%;
  border-radius: 5px;
  background-color: grey; }
