@font-face {
  font-family: Consolas;
  src: url(Consolas.ttf);
}

#sidebar {
  position: absolute;
}

#instructions {
  color: lightGray;
  text-align: left;
  margin-right: 75px;
  position: absolute;
}

#header {
  color: #FFD700;
  margin-top: 50px;
  position: absolute;
}

.row {
  text-align: center;
}

#score {
  color: red;
}

#streak {
  color: cyan;
}

#message { 
  margin-left: 50px;
  margin-right: 50px;
  color: lightGreen;
}

body {
  background: black;
}

.center {
  top: 50%;
  left: 50%;
}

.board {
  position: absolute;
  background: lightGray; 
  height: auto;
  width: auto;
  z-index: -1;
  padding: 1px;
}

.board-col  {
  display: inline-block;
  float: left;
  margin: 1px;
}

.apple {
  background: green;
}

.wall {
  background: black;
}

.head {
  background: red;
}

.seg {
  background: chocolate;
}