@font-face {
  font-family: consolas;
  src: url(consolas.ttf);
}

#sidebar { 
}

#header {
  font: bold 75px consolas;
  text-align: center;
  color: #FFD700;
  margin-top: 50px;
}

#score { 
  color: green;
}

#streak { 
  color: cyan;
}

#message { 
  color: yellow;
}

body {
  background: black;
}

.center {
  top:50%;
  left:50%;
}

.board {
  position: absolute;
  background: lightgray; 
  height: auto;
  width: auto;
  z-index: -1;
}

.col {
  display: inline-block;
  float: left;
}

.col.apple {
    background: green;
}

.col.wall {
  background: black;
}

.col.head {
  background: red;
}

.col.seg {
  background: chocolate;
}