@import "../../mamba";


$unpressed_box_shadow: 0 5px darkgreen;
$depressed_box_shadow: 0 3px darkgreen;

$key_size: 35px;

.controls-key {
  background-color: $primary-color;
  color: black;

  font-size: 2em;
  font-weight: bold;

  width: $key_size;
  height: $key_size;

  text-align: center;

  margin: 2px;

  border-radius: 5px;
  display: block;
  box-shadow: $unpressed_box_shadow;

  &.pressed {
    color: green;
    box-shadow: $depressed_box_shadow;
    transform: translateY(3px);
  }
}

.controls-key-appear, .controls-key-enter.controls-key-enter-active {
  transition: box-shadow .5s ease-in;
}