@import "../../index";

$start_opacity: 0;
$finish_opacity: 1;


$unpressed_box_shadow: 0 5px darkgreen;
$depressed_box_shadow: 0 3px darkgreen;

$key_size: 50px;
$space_between_keys: 10px;

.arrow-keys {
  position: relative;
  margin: 5px auto;

  width: ($key_size * 3) + ($space_between_keys * 4);
  height:($key_size * 2) + ($space_between_keys * 3);

  .controls-key {
    position: absolute;
  }

  .left-key {
    bottom: 0;
    left: $space_between_keys;
  }

  .up-key {
    left: $key_size + (2 * $space_between_keys);
    bottom: $key_size + $space_between_keys;
  }

  .down-key {
    bottom: 0;
    left: $key_size + (2 * $space_between_keys);
  }

  .right-key {
    bottom: 0;
    left: (2 * $key_size) + (3 * $space_between_keys);
  }

}

.controls-key {
  background-color: $primary-color;
  color: black;

  // Vertically center text in Firefox
  // http://stackoverflow.com/a/10793589/2419669
  display: table-cell;
  vertical-align: middle;

  font-size: 2.5em;
  font-weight: bold;

  width: $key_size;
  height: $key_size;

  text-align: center;

  border-radius: 5px;
  box-shadow: $unpressed_box_shadow;

  &.pressed {
    color: green;
    box-shadow: $depressed_box_shadow;
    transform: translateY(3px);
  }
}

.controls-key-enter, .controls-key-appear {
  opacity: $start_opacity;
}


.controls-key-appear, .controls-key-enter.controls-key-enter-active {
  transition: opacity .5s ease-in;
}

.controls-key-appear.controls-key-appear-active, .controls-key-enter.row-enter-active {
  opacity: $finish_opacity;
}