$font-stack: Helvetica, sans-serif;
$primary-color: orange;
$background-color: black;

body {
  font: 100% $font-stack;

  color: $primary-color;
  background-color: $background-color;

  width: 900px;

  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

#title {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 15px;
  margin-left: 20px;
}

$sidebar_width: 200px;

.sidebar {
  text-align: left;
  float: right;
  width: $sidebar_width;
  height: 630px;
  position: relative;

  .scoreboard-container {
    position: absolute;
    width: $sidebar_width;
    height: 100px;
    top: 20px;
  }

  .controls {
    position: absolute;
    width: $sidebar_width;
    height: 375px;
    top: 130px;

    .controls-container {
      position: relative;
      width: $sidebar_width;

      > div {
        position: absolute;
      }

      > [class$="-label"] {
        font-size: 1.5em;
        font-weight: bold;
      }

      > .restart-key-label {
        top: 70px;
        left: 90px;
      }

      > #restart-key-container {
        top: 60px;
        left: 10px;
      }

      > #arrow-keys-container {
        top: 160px;
      }
    }
  }

  .blurb {
    position: absolute;
    bottom: 10px;
    font-size: 16px;

    a {
      color: lightblue;
      font-weight: 700;
    }

    p {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

#mamba {
  position: relative;
  width: 100%;
  height: 100%;
}