$grid_side: 600px;
$grid_background: gray;


.grid {
  height: $grid_side;
  width: $grid_side;
  background-color: $grid_background;

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

